:root{
    --bg-dark: #1a151d;
    --bg-red-glow:#3a1420;
    --bg-panel: #26232b;
    --text-cream: #fff5ea;
    --text-muted: #b9b2b8;
    --hc-red: #ec3750;
    --hc-red-line: #c8324a;
    --rainbow: linear-gradient(90deg, #f1b81a, #33d6a6, #338eda, #a633d6);
}
.nav-bar {
    padding: 10px 20px;
    border: 2px solid #160305;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style: none;
}
 body {
    background: linear-gradient(180deg, var(--bg-dark)0%, var(--bg-dark)60%, var(--bg-red-glow)100%);
    color: var(--text-cream);
 }
 .image-container {
    display: absolute;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
}